/.env
/.conf
/vendor

/composer.lock

/class/Controller/*
!/class/Controller/Mx

/class/Model

/library/cache

/library/certificate/*
!/library/certificate/base.crt

/library/sqlite

/system/datalayer
